<div id="product" class="flex">
    <img src="{{product.picture}}" alt="{{product.title}}">
    <div id="product-infos" class="flex column">
        <div id="product-description" class="flex column">
            <h2>{{product.title}}</h2>
            <p class="price">{{price | number:'1.2'}} €</p>
            <p class="description">{{product.description}}</p>
        </div>
        <div id="ingredients" class="flex column">
            <h3>Ingrédient inclus</h3>
            <form action="" class="flex column">
                <div class="flex ingredient-name">
                    <label for="">Nom ingrédient</label>
                    <input type="radio">
                </div>
                <hr>
                <div class="flex ingredient-name">
                    <label for="">Nom ingrédient</label>
                    <input type="radio">
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>