main{
    border: 2px solid var(--rouge);
    padding: 20px;
}

.table{
    gap: 10px;
    margin-top: 50px;
}

.flex{
    gap: 10px;
}

h1{
    font-size: 40px;
    color: var(--rouge);
    text-align: center;
}

p{
    font-family: var(--inter);
    font-size: 20px;
    text-align: center;
}

input, button{
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;

}


